#navbar{
    display: flex;
    justify-content: space-around;
}

#voucher_list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.buy_voucher{
    background-color: teal;
    cursor: pointer;
}
  

#divData{
    border: 2px solid green;;
}

img{
    height: 150px;
}